*{
    box-sizing: border-box;
}
body{
    background:#07e0e0;
    color:rgb(197, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 80px;
    margin: 0;
    overflow: hidden;
}
h1{
    margin-top:50px;
    border: 2px solid rgb(245, 18, 10);
    font-size: 80px;
    color: rgb(0, 0, 0);
}
p {
    height: 180px;
    width: 45%;
    font-size: 50px;
    color:rgb(0, 0, 0);
    text-align: center;
}
.p1{
color: darkred;
}
.game-container{
    padding:20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}
.figure-container{
    fill:transparent;
    stroke:rgb(223, 26, 26);
    stroke-width:4px;
}
.figure-part{
    display: none;
}
.wromg-letters-container{
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    flex-direction: column;
    align-items:right;
    color: rgb(255, 0, 0);
}
.wromg-letters-container p{
    margin:0 0 5px;
}
.wromg-letters-container span{
    font-size: 25px;
}
.word{
    display:flex;
    position:absolute;
    bottom:-20px;
    left:40%;
}
.letter{
    border-bottom:3px solid #2980B9;
    display:inline-flex;
    font-size:30px;
    align-items: center;
    justify-content: center;
    margin:0 3px;
    margin-top: 20px;
    height: 50px;
    width:20px
}
.popup-container{
    background-color: rgba(255, 0, 0, 0.3);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.popup{
    background: #05ECE0;
    border-radius: 5px;
    box-shadow: 0 15px 3px rgba(238, 170, 170, 0.1);
    padding: 20px;
    text-align: center;
}
.popup button{
    cursor:pointer;
    background-color: #ECD400;
    color:#0026ff;
    border-radius: 5px;
    margin-top: 20px;
    border:0px !important;
    padding:12px 20px;
    font-size:16px;
}
.popup button:active{
    transform: scale(0.98);
}
.popup button:focus{
    outline:0;
}
.notification-container{
    background-color: rgba(202, 113, 113, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 35px 20px;
    position: absolute;
    bottom:-80px;
    transition: transform 0.3s ease-in-out;
    color: black;
    font-size: 40px;
}
.notification-container p{
    margin:0;
}
.notification-container.show{
    transform:translateY(-50px);
}
.finalmessage{
    color:rgb(0, 255, 0);
}